body  {
	background-color:#00ccff;
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
#head1  {
	font-size:110px;
	font-family:"Arial";
	text-decoration:none;
	color:#000099;
	background-blend-mode:screen;
	opacity: 0.6;
	margin-left:150px;
	text-transform:uppercase;
}
.navbar {
	margin-left:380px;
	background-blend-mode:screen;
	opacity: 0.8;
	overflow:hidden;
}
a.note{
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 20px 37px;
	text-decoration: none;
	margin-top:0px;
	background-color:#0000ff;
}
.dropdown {
	float:left;
	overflow:hidden;
}
a.note , .dropdown {
	border-collapse:collapse;
}
.dropdown .dropbtn {
	font-size: 16px;  
	border:none;
	outline: none;
	color: white;
	padding: 20px 30px;
	background-color:#0000ff;
	font-family: Arial;
	margin: 0px;
}
.dropdown:hover .dropbtn {
	background-color:#290066;
	border:3px solid cyan;
}
.navbar a:hover	{
	background-color:#290066;
	border:3px solid cyan;
}
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
	z-index: 0;
}
.dropdown-content a {
	float:none;
	color:#990000;
	padding: 12px 16px;
	text-decoration:none;
	display: block;
	text-align: left;
	background-color: #f2f2f2;
}
.dropdown-content a:hover {
	background-color: #009900;
	color:#ffff00;
	text-decoration:none;
	border:3px solid red; 
}
.dropdown:hover .dropdown-content {
	display: block;
}
div.no_insert {
	overflow :hidden;
}
#Disclaimer  {
	margin-top:500px;
	font-size:15px;
	color:#660066;
	padding:30px 50px;
	background-color:#ffff66;
	text-align:center;
}
#Last  {
	font-size:12px;
}
.middle {
	background-blend-mode:screen;
	float:left;
}
.middle1, .middle2 , .middle3 {
	float:none;
}
.middle1 {
	overflow:hidden;
	background-blend-mode:screen;
	background-color:inherit;
	opacity:1;
}
.middle2 {
	overflow:hidden;
	background-blend-mode:screen;
	background-color:inherit;
	opacity:1;
	
}
.middlea {
	background-color:#0066ff;
	border-radius:30px;
	padding:15px;
	font-weight:bold;
	font-size:20px;
	border-color:red;
	margin-left:30px;
}
.marq {
	margin-left:30px;
	border:2px solid #006600;
	margin-top:10px;
	border-radius:50px 5px; 
	background-blend-mode:multiply;
	}
.notify {
	color:#ff6600;
	font-weight:bold;
}
h1 {
	padding-top:100px;
	padding-bottom:50px;
	color: #353d7c;
    font-size: 90px;
    font-family: roboto_condensedregular;
    line-height: 28px;
    text-transform: uppercase;
	text-decoration:underline;
	text-align:center;
}
#h1 {
	font-size:60px; 
}
h2 {
	color: #353d7c;
    font-size: 40px;
    font-family: roboto_condensedregular;
    line-height: 28px;
    text-transform: uppercase;
	text-decoration:underline;
	padding:20px;
	text-align:center;
}
.image {
	border-radius:70px;
	margin-top:150px;
	background-color:cyan;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:100px;
	box-shadow: 0px 0px 30px 20px rgba(0,0,0,1);
}
.pic {
	margin-left:210px;
}
#p1 {
	background-color:cyan;
	margin-left:100px;
	text-align:center;
	margin-right:100px;
	margin-top:50px;
	font-size:20px;
	font-weight:bold;
}
#p2 {
	background-color:cyan;
	margin-left:100px;
	text-align:justify;
	margin-right:100px;
	margin-top:20px;
	font-size:20px;
}

.flip-card {
  padding-bottom:100px;
  margin-left:210px;
  background-color: transparent;
  width: 700px;
  height: 400px;
  perspective:1200px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 700;
  height: 400;
  backface-visibility: hidden;
}

.flip-card-front {
  position:absolute;
  z-index: 2;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
#topic {
	color:pink;
}
#desc {
	background-color:blue;
}
p {
	background-color:red;
}